.main{
  display: flex;
  justify-content: center;
}
.list-modal{
  height: 300px;
  width: 300px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  border: 1px solid grey;
  position: absolute;
  border-radius: 5px;
  background-color: rgb(255, 254, 254);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}
.list-modal-heading{
  display: flex;
  justify-content: space-between;
}
.overlay{
  display: flex;
  flex-direction: column;
}