input{
  border: 1px solid transparent;
  border-radius: 3px;
  height: 50px;
  width: 228px;
  background-color: ffffff;
}
input::placeholder{
  font-weight: lighter;
}
.add-card:hover{
  color: white;
  background-color: darkgray;
}
.btn-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.save-cancel-btns{
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.cancel-btn{
  border: none;
  font-size: 16px;
  height: 32px;
  width: 32px;
  background-color: #f6f7f9;
  color: darkgrey;
  border-radius: 2px;
  margin-top: 10px;
  margin-left: 5px;
}
.cancel-btn:hover{
  cursor: pointer;
  color: lightgray;
}


.save-card-btn{
  outline: none;
  background-color: #34aef5;
  border: none;
  color: white;
  height: 30px;
  border-radius: 3px;
  font-size: 14px;
  padding: 6px 12px;
  margin-left: 10px;
  margin-top: 10px;
}
.save-card-btn:hover{
  background-color: #0478ba;
  color: white;
  height: 30px;
  cursor: pointer;
}
