input{
  border: 1px solid transparent;
  border-radius: 3px;
  height: 50px;
  width: 228px;
  background-color: ffffff;
}
.add-card:hover{
  color: white;
  background-color: darkgray;
}
.card{
  width: 228px;
}
.cancel{
  width: 40px;
  height: 36px;
  text-align: center;
  font-size: 14px;
  border-radius: 3px;
  margin-left: 15px;
  margin-top: 10px;
}
.cancel:hover{
  color: darkgray;
}
.btn-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
