.list {
  width: 272px;
  height: 500px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #f7f8f9;
}
.board-title {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2px 5px;
  height: 60px;
}
.p-title {
  margin-top: 10px;
  margin-left: 10px;
}
.star {
  color: white;
  font-size: 40x;
  position: relative;
}
.filled-star {
  display: none;
}
.star:hover .filled-star {
  color: yellow;
  display: block;
  position: absolute;
  cursor: pointer;
}
.user {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #614dab;
  text-align: center;
  margin-top: 2px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: lighter;
}
.user:hover {
  background-color: #9985e3;
}
.list-container {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cards {
  width: 245px;
  height: 50px;
  margin: 5px;
  margin-left: 10px;
  padding: 2px;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  font-weight: bolder;
}
input {
  margin-left: 10px;
}
.archive-toggle {
  display: flex;
  margin-top: 10px;
  font-size: 30px;
  margin-left: 20px;
  cursor: pointer;
}
.archive-icons {
  font-size: 30px;
  color: white;
  cursor: pointer;
  padding-right: 5px;
}
.add-card {
  width: 230px;
  border-radius: 3px;
  height: 36px;
  cursor: pointer;
  border-radius: 3px;
  justify-content: center;
  font-size: 14px;
  padding: 10px;
  margin-left: 5px;
  margin-top: 5px;
  color: rgb(110, 110, 110);
}
.add-card:hover {
  width: 227px;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 5px;
  color: rgb(110, 110, 110);
  background-color: #ebecf0;
}
.list-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.list-name {
  margin-top: 2px;
  font-weight: bolder;
  font-size: 16px;
}
.archived {
  cursor: pointer;
  width: 160px;
  margin-left: 30px;
  vertical-align: center;
}
.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}
span {
  font-size: 14px;
  margin-left: 8px;
  margin-top: 0px;
}
