.overlay{
  width: 100%;
}.main{
  display: flex;
  justify-content: center;
}
.list-modal{
  height: 600px;
  width: 700px;
  position: absolute;
  border-radius: 5px;
  background-color: #f4f5f7;
  border: 1px solid lightgrey;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}
.list-modal-heading{
  display: flex;
  justify-content: space-between;
}
.overlay{
  display: flex;
  flex-direction: column;
}