span{ 
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.color-row{
  display: flex;
  justify-content: end;
  justify-content: space-between;
  width: 30%;
}
.color-container{
  height: 20px;
}
.red{
  background-color: #FF0000 ;
}
.orange{
  background-color:  #FFA500;
}
.yellow{
  background-color: #dada07;
}
.green{
  background-color: #90EE90;
}
.blue{
  background-color: #87cefa;
}
.purple{
  background-color: #dda0dd;
}
.pink{
  background-color: #ffc0cb;
}
.brown{
  background-color: #deb887;
}

