.dropdown-grid {
  border-radius: 5px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(7, 1fr);
  background-color: rgb(226, 225, 225);
  margin-top: 182px;
}
.dropdown-grid img {
  width: 60px;
  height: 60px;
  border: 1px solid grey;
}
.dropdown-grid img:hover {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
