.name-change-input,
.comment-input {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.change-input {
  height: 40px;
  width: 300px;
}
.add-input {
  height: 40px;
  width: 300px;
}
.update-btn,
.comment-btn {
  font-size: 14px;
  font-weight: lighter;
  line-height: 40px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  height: 40px;
  text-align: center;
}
.editname-icon {
  margin-left: 20px;
}

@media (max-width: 700px) {
  .add-input {
    height: 30px;
    width: 100px;
  }
  .update-btn,
  .comment-btn {
    font-size: 10px;
    font-weight: lighter;
    line-height: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    height: 25px;
    text-align: center;
    margin-top: 5px;
  }
}

@media (min-width: 600px) {
  .update-btn {
    font-size: 10px;
    font-weight: lighter;
    line-height: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    height: 25px;
    text-align: center;
    margin-top: 5px;
  }
  .add-input {
    height: 40px;
    width: 200px;
  }
}
