.name-change-input, .comment-input{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.change-input{
  height: 40px;
  width: 300px;
}
.add-input{
  height: 40px;
  width: 700px;
}
.update-btn,.comment-btn{
  font-size: 14px;
  font-weight: lighter;
  line-height: 40px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  height: 40px;
  text-align: center;
}
.editname-icon{
  margin-left: 20px;
}
.update-btn:hover{
  background-color: rgb(61, 61, 245)
}
