.card-btns {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
  align-items: center;
}
.add-card:hover {
  color: white;
  background-color: rgb(211, 210, 210);
  display: block;
}
.icon {
  margin-left: 15px;
  display: none;
  align-items: end;
}
.cards {
  display: flex;
  align-items: center;
}
.cards:hover {
  background-color: lightgreen;
}
.cards:hover .icon {
  display: block;
}
.list {
  height: auto;
}
.list-name {
  justify-content: space-between;
  display: flex;
}
.list-header {
  display: flex;
  margin-bottom: 0.5em;
  justify-content: space-between;
}
.label-color{
  width: 8px;
  height: 8px;
  border-radius: 5px;
  outline: 1px solid black;
  margin-right: 10px;
}

