.card-btns{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.input-field{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
  align-items: center;
}
.add-card:hover{
  color: white;
  background-color: darkgray;
}