.card-btns {
  display: flex;
  justify-content: left;
  flex-direction: row;
}
.input-field {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 5px;
  align-items: left;
}
.card-title{
  font-size: 16px;
  font-weight: lighter;
  display: flex;
  justify-content: left;
  align-items: flex-start;
}
.add-card{
  background-color: none;
  height: 50px;
  justify-content: left;
  margin-bottom: 10px;
}
.add-card-text{
  font-weight: lighter;
  margin-bottom: 10px;
}
.add-card:hover {
  display: block;
}
.cards {
  display: flex;
  text-align: left;
  justify-content: left;
  box-shadow: 0 1px 0 #091e4240;
  background-color: #fff;  
}
.cards:hover {
  background-color: #ecedf1;
}
.list {
  height: auto;
  justify-content: left;
  text-align: left;
  width: 272px;
  overflow: auto;
}
.list-name {
  justify-content: space-between;
  display: flex;
}
.list-header {
  display: flex;
  margin-bottom: 0.5em;
  justify-content: space-between;
}
.orangered {
  background-color: orangered;
  width: 20px;
  height: 6px;
  border-radius: 5px;
  display: flex;
  justify-content: left;
  margin-left: 0px;
}
.orange {
  background-color: orange;
  width: 20px;
  height: 6px;
  border-radius: 5px;
}
.yellow {
  background-color: rgb(218, 218, 7);
  width: 20px;
  height: 6px;
  border-radius: 5px;
}
.lightgreen {
  background-color: lightgreen;
  width: 20px;
  height: 6px;
  border-radius: 5px;
}
.lightskyblue {
  background-color: lightskyblue;
  width: 20px;
  height: 6px;
  border-radius: 5px;
}
.plum {
  background-color: plum;
  width: 20px;
  height: 6px;
  border-radius: 5px;
}
.pink {
  background-color: pink;
  width: 20px;
  height: 6px;
  border-radius: 5px;
}
.burlywood{
  background-color: burlywood;
  width: 20px;
  height: 6px;
  border-radius: 5px;
}
.dots{
  margin-top: 0px;
}

