.navbar-layout {
  display: flex;
  background-color: #026aa7;
  padding: none;
  line-height: 1px;
  height: 41.63px;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.password-input{
  margin-bottom: 0px;
}
.register{
  font-size: 14px;
  text-align: right;
  cursor: pointer;
  margin-top: 20px;
  color: blue;
}
.no-acct{
  font-size: 14px;
  font-weight: lighter;
}
.register:hover{
  font-weight: bolder;
}
.login-form {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  max-width: 100%;
}
.register-row{
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-form > div {
  margin-bottom: 10px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  height: 50px;
}

.login-form button:hover {
  background-color: #005fa3;
}
.login-content{
 margin: 40px auto;
}

.error-message {
  color: red;
  font-weight: bold;
}
.login-button{
  border: blue;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  justify-content: center;
  margin-left: 30px;
}