.save{
  width: 60px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  border: none;
}
.save:hover{
  color: white;
  background-color: darkgray;
}
.cancel{
  border: none;
  background-color: none;
  margin-left: 0px;
}
.cancel:hover{
  background-color: none;
}