.show-comments{
  background-color: #ffffff;
  height: 40px;
  width: 600px;
  margin-top: 20px;
}
.comment{
  text-decoration: none;
}
.comment-row{
  background-color: #f6f7f9;
}
.save-row{
  width: 130px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 15px;
}
.save-row{
  margin-bottom: 20px;
}
.save-row:hover, .save:hover, .save-comment-btn:hover{
  background-color: #f6f7f9;
  color: darkgray;
}
.left{
  display: flex;
  justify-content: left;
}
