.update-close{
  display: flex;
  flex-direction: row;
}
.update, .close{
  cursor: pointer;
  color:  #777d88;
  width: 60px;
  font-size: 12px;
  font-weight: lighter;
  background-color: #f4f5f7;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-left: 10px;
}
.update:hover, .close:hover{
  color: black;
  background-color: #f4f5f7;
  border: none;
}