
.boards {
  background-color: darkcyan;
  height: 170px;
  width: 230px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.hi{
  font-size: 20px;
  margin-right: 3px;
  display: flex;
  flex-direction: row;
  /* width: 100%; */
}
.greeting{
  margin-left: 5%;
  margin-top: 5%;
  font-size: 20px;
}
.delete{
  font-size: 12px;
  cursor: pointer;
  color: rgb(174, 169, 169);
  font-weight: lighter;
  margin-right: 8px;
  margin-top: 8px;
  display: flex;
  flex-direction: row-reverse;
}
.delete:hover{
  color: white;
}
.newboard{
  background-color: rgb(243, 242, 242);
  height: 170px;
  width: 200px;
  margin-top: 0px;
  margin-left: 10px;
  border-radius: 5px;
  padding-left: 30px;
  cursor: pointer;
  color: rgb(132, 131, 131);
  font-size: 16px;
}
.newboard p{
  margin-left: 20px;
  margin-top: 30px;
  font-size: 16px;
}
.user-panel{
  margin-left: 20px;
}
.bcontainer{
  margin-top: 80px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
}
.boards-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: flex-start;
  margin: 0px auto;
  margin-top: 25px;
}
.your-boards{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 30px auto;  
  width: 70%;
  margin-bottom: 0px;
}
.container, .heading{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 30px auto;
}
.welcome {
  display: flex;
  flex-direction: row;
}
.heading{
  margin-bottom: 0px;
}
.title {
  width: 60%;
  padding: 5px;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}
.createBtn{
  margin-left: 30px;
  width: 100px;
  height: 36px;
  color: darkslategrey;
  font-size: 14px;
  font-weight: bolder;
  background-color: rgb(233, 231, 231);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.createBtn:hover{
  background-color: rgb(234, 231, 231);
  border: none;
  border-radius: 5px;
}
.newboard-input{
  width: 140px;
  background-color: rgb(243, 242, 242);
}
input {
  outline:none;
}
.newboard-input{
  font-size: 16px;
  margin-top: 16px;
  text-align: center;
}
